{% extends "base.html" %}

{% block content %}
    <form action="/signup" method="post">
        <label for="name">Username
            <input type="text" name="name" id="name">
        </label>
        <p>{{error}}</p>
        <br>
        <label for="pwd">Password
            <input type="password" name="pwd" id="pwd">
        </label>
        <br>
        <label for="confirm_pwd">Confirm Password
            <input type="password" name="confirm_pwd" id="confirm_pwd">
        </label>
        <br>
        <label for="email">Email (optional)
            <input type="email" name="email" id="email">
        </label>
        <br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}